body {
 font-family:"Times New Roman";
 font-size:90%;
 margin:auto;
 width:400px;
 }
form {
 background-color:#FAFAFA;
 padding:10px;
 width:280px;
 }
fieldset {
 padding:0 20px 20px 20px;
 margin-bottom:10px;
 border:1px solid green;
 }
legend {
 color:#DF3F3F;
 font-weight:bold
 }
 label {
 margin-top:10px;
 display:block;
 }
label.inline {
 display:inline;
 margin-right:50px;
 }